project {display: block; margin: 40px;}

metaInfo, workteam, abstract, deliverables { display: block; margin: 20px}

keyName {display: block;}
title {display: block; color: red;}
beginDate {display: block;}
endDate {display: block;}
supervisor {display: block;}

teammate {display: block;}
name {display: block; color: blue;}
number {display: block;}
email {display: block;}

paragraph {display: block;}

italic {font-style: italic;}

bold {font-weight: bold;}

underline {text-decoration: underline;}

.lines {
  border-top: 1px solid red;
}


/* unvisited link */
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}
